.required {
    color: red;
}

/* dark theme */
.darkTheme {
    background-color: #2d2c2d;
    color: #bbbbbb;
}

.button:hover
{
    color: #c803ff;
    background-color: #ffdd03;
}
.button
{
    color: #c956ff;
    background-color: #ffe356;
    font-size: 24px;
    font-family:  "Comic Sans MS", sans-serif;

    padding-right: 50px;
    padding-left: 50px;
    float: left;
    border-radius: 8px;

    cursor:pointer;
}

.button-group {

    width: 100%;
}